In [26]:
import os
os.chdir('/Users/beth/Desktop/')

In [32]:
data = !tail -n +459 Galaxy131-\[Samtools_view_on_collection_127__filtered_alignments__SRR3706303\].sam | cut -f3,4,6,10

In [33]:
data = list(map(lambda x: tuple(x.split('\t')), data))

In [34]:
import pandas as pd

In [35]:
data = pd.DataFrame(data)

In [37]:
data.head(20)

       0        1     2                                                  3
0   chr1  2044782  151M  GGCCCGGAAGGATGGACTCCGAGGCGGGGCTGAAACGGGGGCAGCC...
1   chr1  2048386  149M  AGATTGCTGAAATGGGCATTAGGTATGCTAGAGACTTCAAGGAAGT...
2   chr1  2048392  151M  CTGAAATGGGCATTAGGTATGCTAGAGACTTCAAGGAAGTGTGGGT...
3   chr1  2048412  151M  GCTAGAGACTTCAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTG...
4   chr1  2048412  151M  GCTAGAGACTTCAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTG...
5   chr1  2048423  148M  CAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTGCAGGCAGGTGC...
6   chr1  2048423  148M  CAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTGCAGGCAGGTGC...
7   chr1  2048425  143M  AGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTGCAGGCAGGTGCTC...
8   chr1  2048425  143M  AGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTGCAGGCAGGTGCTC...
9   chr1  2048440  147M  CAGTCCAGCAGATCTCTGCAGGCAGGTGCTCCTGGAAGAGGGAGTG...
10  chr1  2048440  147M  CAGTCCAGCAGATCTCTGCAGGCAGGTGCTCCTGGAAGAGGGAGTG...
11  chr1  2048445  137M  CAGCAGATCTCTGCAGGCAGGTGCTCCTGGAAGAGGGAGTGGCTGT...
12  chr1  2048445  137M  CAGCAGATCTCTGCAGGCAGGTGCTCCTGGAAGAGGGAGTGGCTGT...
13  chr1  2048455  149M  CTGCAGGCAGGTGCTCCTGGAAGAGGGAGTGGCTGTGCAAAGAGGG...
14  chr1  2048474  150M  GAAGAGGGAGTGGCTGTGCAAAGAGGGAGTGGCCGTGCAAAGACGG...
15  chr1  2048487  151M  CTGTGCAAAGAGGGAGTGGCCGTGCAAAGACGGAGGCCGGGGCAGC...
16  chr1  2048489  149M  GTGCAAAGAGGGAGTGGCCGTGCAAAGACGGAGGCCGGGGCAGCAA...
17  chr1  2048490  142M  TGCAAAGAGGGAGTGGCCGTGCAAAGACGGAGGCCGGGGCAGCAAA...
18  chr1  2048490  142M  TGCAAAGAGGGAGTGGCCGTGCAAAGACGGAGGCCGGGGCAGCAAA...
19  chr1  2048492  132M  CAAAGAGGGAGTGGCCGTGCAAAGACGGAGGCCGGGGCAGCAAAGA...

In [40]:
data['bp']=data[3].map(len)

In [41]:
data.head()

      0        1     2                                                  3   bp
0  chr1  2044782  151M  GGCCCGGAAGGATGGACTCCGAGGCGGGGCTGAAACGGGGGCAGCC...  151
1  chr1  2048386  149M  AGATTGCTGAAATGGGCATTAGGTATGCTAGAGACTTCAAGGAAGT...  149
2  chr1  2048392  151M  CTGAAATGGGCATTAGGTATGCTAGAGACTTCAAGGAAGTGTGGGT...  151
3  chr1  2048412  151M  GCTAGAGACTTCAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTG...  151
4  chr1  2048412  151M  GCTAGAGACTTCAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTG...  151

In [44]:
data[data[2] == "44H31M76H"]

           0         1          2                                3  bp
825373  chrX  14066384  44H31M76H  CCCCCGCCGCCCGCCCCCCCCCCCCCGCCCA  31

In [46]:
data[2].value_counts()

151M         390959
150M         159251
149M          53641
148M          22749
147M          11223
              ...
44H31M76H         1
81M23S            1
11S94M45S         1
72S51M27S         1
78M4D71M          1
Name: 2, Length: 13603, dtype: int64

In [45]:
import re

In [51]:
re.findall('([0-9]*)([A-Z])',"78M4D71M")

[('78', 'M'), ('4', 'D'), ('71', 'M')]

In [59]:
list(data.loc[(data[2] == '78M4D71M'),3])

['TTCAACATTTCTTTACATTTGAAATTTCTCTCTGGGAAATTGAGATTGTGGGAGCTTATGATACTTGTCAAAATTAAAACACACACACACACACACACACACACACACACACACCCATCAATGTTGAAAAAAATGTTACAACTAGGATG']

In [70]:
seq1 = 'TTCAACATTTCTTTACATTTGAAATTTCTCTCTGGGAAATTGAGATTGTGGGAGCTTATGATACTTGTCAAAATTAAAACACACACACACACACACACACACACACACACACACCCATCAATGTTGAAAAAAATGTTACAACTAGGATG'

pos=0
seq=''
for i in re.findall('([0-9]*)([A-Z])',"78M4D71M"):
    if i[1] == "M" or i[1] == "S":
        seq = seq + seq1[pos:pos+int(i[0])]
        pos = pos+int(i[0])
    if i[1] == "D" or i[1] == "N":
        seq = seq + '-' * int(i[0])
        pos = pos+int(i[0])
    #if i[1] == "I":
    #    ref_seq = ref_seq1[:pos] + '-' * int(i[0]) + ref_seq[pos+int(i[0]):]

In [71]:
seq

'TTCAACATTTCTTTACATTTGAAATTTCTCTCTGGGAAATTGAGATTGTGGGAGCTTATGATACTTGTCAAAATTAAA----ACACACACACACACACACACACACACACACACCCATCAATGTTGAAAAAAATGTTACAACTAGGATG'

In [72]:
data[1] = data[1].astype('int')

In [73]:
data['bp'].dtype

dtype('int64')

In [74]:
os.getcwd()

'/Users/beth/Desktop'

In [75]:
!rm sample_locations.tmp

In [76]:
for i in range(len(data[0])):
    with open("sample_locations.tmp", "a") as file:
                    file.write(data.loc[i,0] + "\t" + str(data.loc[i,1]-1) + "\t" + str(data.loc[i,1]+data.loc[i,'bp']-1) + "\n")

In [77]:
locations = "sample_locations.tmp"

In [78]:
os.environ['PATH'] = '/opt/anaconda3/bin:/opt/anaconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin'

In [79]:
ref_seqs = !bedtools getfasta -fi /Volumes/BethMac/hg38/hg38.fa -bed $locations

In [80]:
!head sample_locations.tmp

chr1	2044781	2044932
chr1	2048385	2048534
chr1	2048391	2048542
chr1	2048411	2048562
chr1	2048411	2048562
chr1	2048422	2048570
chr1	2048422	2048570
chr1	2048424	2048567
chr1	2048424	2048567
chr1	2048439	2048586

In [81]:
ref_seqs[1]

'GGCCCGGAAGGATGGACTCCGAGGCGGGGCTGAAAAGGGGGCAGCCGCGCCAAGCAGGAAGCGCCCCGGGGTGGGGCGGGAGGCCCGGAGGCCCCGGAGCCAGAGCGGGCAGGGCCGGCGCTGCGCGGTCGCCGAGGGACCCACGTGCGGG'

In [82]:
ref_seqs_2=[]
for i in range(1,len(ref_seqs),2):
    ref_seqs_2.append(ref_seqs[i])

In [83]:
len(ref_seqs_2)

844471

In [84]:
data['ref']=pd.Series(ref_seqs_2)

In [85]:
data.head()

,0,1,2,3,bp,ref
0,chr1,2044782,151M,GGCCCGGAAGGATGGACTCCGAGGCGGGGCTGAAACGGGGGCAGCC...,151,GGCCCGGAAGGATGGACTCCGAGGCGGGGCTGAAAAGGGGGCAGCC...
1,chr1,2048386,149M,AGATTGCTGAAATGGGCATTAGGTATGCTAGAGACTTCAAGGAAGT...,149,AGATTGCTGAAATGGGCATTAGGTATGCTagagacttcaaggaagt...
2,chr1,2048392,151M,CTGAAATGGGCATTAGGTATGCTAGAGACTTCAAGGAAGTGTGGGT...,151,CTGAAATGGGCATTAGGTATGCTagagacttcaaggaagtgtgggt...
3,chr1,2048412,151M,GCTAGAGACTTCAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTG...,151,GCTagagacttcaaggaagtgtgggtgccagtccagcagatctctg...
4,chr1,2048412,151M,GCTAGAGACTTCAAGGAAGTGTGGGTGCCAGTCCAGCAGATCTCTG...,151,GCTagagacttcaaggaagtgtgggtgccagtccagcagatctctg...

In [127]:
data[data[2].str.contains('S')]

,0,1,2,3,bp,ref,new_seqs,new_ref
23,chr1,2050554,136M15S,CCCACCTGGAGCCCCCGCCCCGCGCCATGGCCGGAGCTCCCGGGGC...,151,CCCACCTGGAGCCCCCGCCCCGCGCCATGGCCGGAGCTCCCGGGGC...,CCCACCTGGAGCCCCCGCCCCGCGCCATGGCCGGAGCTCCCGGGGC...,CCCACCTGGAGCCCCCGCCCCGCGCCATGGCCGGAGCTCCCGGGGC...
24,chr1,2050554,15S136M,GACGCTCTCCGATCTCCCACCTGGAGCCCCCGCCCCGCGCCATGGC...,151,CCCACCTGGAGCCCCCGCCCCGCGCCATGGCCGGAGCTCCCGGGGC...,GACGCTCTCCGATCTCCCACCTGGAGCCCCCGCCCCGCGCCATGGC...,CCCACCTGGAGCCCCCGCCCCGCGCCATGGCCGGAGCTCCCGGGGC...
50,chr1,2099525,61S89M,GCCCCCGGGGGGGCGCCTTGTCGGCCCCCCCTCCCTCCGGGGGGGG...,150,AAGGCCGTGGGGAGGAGTGACTTCCAGATGAGGCTCACAGGACTGT...,GCCCCCGGGGGGGCGCCTTGTCGGCCCCCCCTCCCTCCGGGGGGGG...,AAGGCCGTGGGGAGGAGTGACTTCCAGATGAGGCTCACAGGACTGT...
53,chr1,2108966,148M3S,GCCCCTTGGTGCAGCCCTGAGTCACCCCAGCCTCTGCCTCCGTCTC...,151,gccccttggTGCAGCCCTGAgtcaccccagcctctgcctccgtctc...,GCCCCTTGGTGCAGCCCTGAGTCACCCCAGCCTCTGCCTCCGTCTC...,gccccttggTGCAGCCCTGAgtcaccccagcctctgcctccgtctc...
58,chr1,2117368,7S143M,TTTTTATTTTTTTTTTTTTTATCTTTTTGTTTATAGCAATGTGTAA...,150,tttttttttttttatctttttgtttatagcaatgtgtaaagaagtg...,TTTTTATTTTTTTTTTTTTTATCTTTTTGTTTATAGCAATGTGTAA...,tttttttttttttatctttttgtttatagcaatgtgtaaagaagtg...
...,...,...,...,...,...,...,...,...
844453,chrUn_KI270756v1,1838,22S82M6S,ATTCCATTCCTTTTCATTCCTGTCCATTCCATTCCATTCCATTCCA...,110,tctattctattccattcgattccattccattcgattccattccatt...,ATTCCATTCCTTTTCATTCCTGTCCATTCCATTCCATTCCATTCCA...,tctattctattccattcgattccattccattcgattccattccatt...
844454,chrUn_KI270756v1,1838,22S82M6S,ATTCCATTCCTTTTCATTCCTGTCCATTCCATTCCATTCCATTCCA...,110,tccattccattcgattccattccattccattccattcgatgccatt...,ATTCCATTCCTTTTCATTCCTGTCCATTCCATTCCATTCCATTCCA...,tccattccattcgattccattccattccattccattcgatgccatt...
844459,chrUn_KI270757v1,15616,35S116M,CCATCAGAAATTAAGGAAAGAAATGGATTGGAGTCGAATGGAATGC...,151,tgtgcattcacgtgacagagttgaaattttcttatgttgagcagtt...,CCATCAGAAATTAAGGAAAGAAATGGATTGGAGTCGAATGGAATGC...,tgtgcattcacgtgacagagttgaaattttcttatgttgagcagtt...
844460,chrUn_KI270757v1,15617,24S111M16S,GATCCAGCAGAAATTAAGGAAAGAAATGGAATGGAGTAGAATGGAA...,151,tgtgcattcacgtgacagagttgaaattttcttatgttgagcagtt...,GATCCAGCAGAAATTAAGGAAAGAAATGGAATGGAGTAGAATGGAA...,tgtgcattcacgtgacagagttgaaattttcttatgttgagcagtt...
844463,chrUn_KI270757v1,34272,145M5S,GTTTTGAAATAGTCTTTTTGTAGAATCTGCAAGTGGACATTTGGAG...,150,ctgcaagtgaacattttgagcgatttgtggcctatggtaaaaagaa...,GTTTTGAAATAGTCTTTTTGTAGAATCTGCAAGTGGACATTTGGAG...,ctgcaagtgaacattttgagcgatttgtggcctatggtaaaaagaa...

In [129]:
len(data.loc[23,3])

151

In [130]:
len(data.loc[23,'ref'])

151

In [131]:
data[data[2].str.contains('X')]

Empty DataFrame
Columns: [0, 1, 2, 3, bp, ref, new_seqs, new_ref]
Index: []

In [132]:
data[data[2].str.contains('=')]

Empty DataFrame
Columns: [0, 1, 2, 3, bp, ref, new_seqs, new_ref]
Index: []

In [89]:
def convert_format(seq,cigar):
    
    pos=0
    seq_final=''
    
    for i in re.findall('([0-9]*)([A-Z])',cigar):
    
        if i[1] == "M" or i[1] == "S":
            seq_final = seq_final + seq[pos:pos+int(i[0])]
            pos = pos+int(i[0])
        if i[1] == "D" or i[1] == "N":
            seq_final = seq_final + '-' * int(i[0])
            pos = pos+int(i[0])
    return seq_final

In [115]:
def convert_format_ref(ref_seq,cigar):
    pos=0
    for i in re.findall('([0-9]*)([A-Z])',cigar):
        if i[1] == "M" or i[1] == "S" or i[1] == "D" or i[1] == "N":
            pos = pos + int(i[0])
        if i[1] == "I":
            ref_seq = ref_seq[:pos] + '-' * int(i[0]) + ref_seq[pos:]
            pos = pos + int(i[0])
    return ref_seq

In [94]:
new_seqs = pd.Series(map(convert_format,data[3],data[2]))

In [95]:
len(new_seqs)

844473

In [116]:
new_ref_seqs = pd.Series(map(convert_format_ref,data['ref'],data[2]))

In [117]:
len(new_ref_seqs)

844473

In [122]:
data['new_seqs'] = new_seqs
data['new_ref'] = new_ref_seqs

In [104]:
data[data[2].str.contains('D')]

,0,1,2,3,bp,ref,new_seqs,new_ref
196,chr1,2437337,123M1D23M,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...,146,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...
197,chr1,2437337,123M1D23M,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...,146,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...,CCTACTCCTGTCCAAGACTGACTTAGACCTCCTCTGGCCAGCTGGA...
290,chr1,2930136,75M2D76M,GCCTTGACCACACACACGGATGCATGCACACACACACATGCTCACA...,151,GCCTTGACcacacacacggatgcatgcacacacacacatgctcaca...,GCCTTGACCACACACACGGATGCATGCACACACACACATGCTCACA...,GCCTTGACcacacacacggatgcatgcacacacacacatgctcaca...
291,chr1,2930173,38M2D113M,ATGCTCACACACACGTGCACACACATACATGCAAACACGTGCACAC...,151,atgctcacacacacgtgcacacacatacatgcaaacacatgtgcac...,ATGCTCACACACACGTGCACACACATACATGCAAACAC--GCACAC...,atgctcacacacacgtgcacacacatacatgcaaacacatgtgcac...
395,chr1,3169925,133M1D18M,GCCCGCGCGCTCCGAGTAATCGGGTGATGTATGTGGACTGTGCACA...,151,GCCCGCGCGCTCCGAGTAATCGGGTGATGTATGTGGACTGTGCACA...,GCCCGCGCGCTCCGAGTAATCGGGTGATGTATGTGGACTGTGCACA...,GCCCGCGCGCTCCGAGTAATCGGGTGATGTATGTGGACTGTGCACA...
...,...,...,...,...,...,...,...,...
844309,chrUn_KI270744v1,109408,111M1D39M,AACTCAGTGAAACTGGTGAGTTTGGTGGTGACTCCGGGGTGCCTGG...,150,ctgaaatctgggcgtggttggagagtagctgggacagatgggagag...,AACTCAGTGAAACTGGTGAGTTTGGTGGTGACTCCGGGGTGCCTGG...,ctgaaatctgggcgtggttggagagtagctgggacagatgggagag...
844374,chrUn_KI270749v1,32010,93M8D57M,CGAGATGAAAAGATGAAATGATGAAATGAAATGAGATGAAAAGATG...,150,tgaagtgaaatgacgaaatgaaatgttgagatgaagtgatgaaatg...,CGAGATGAAAAGATGAAATGATGAAATGAAATGAGATGAAAAGATG...,tgaagtgaaatgacgaaatgaaatgttgagatgaagtgatgaaatg...
844375,chrUn_KI270749v1,32010,93M8D57M,CGAGATGAAAAGATGAAATGATGAAATGAAATGAGATGAAAAGATG...,150,aaatgttgagatgaagtgatgaaatgaaatgatgaaatgaaacaat...,CGAGATGAAAAGATGAAATGATGAAATGAAATGAGATGAAAAGATG...,aaatgttgagatgaagtgatgaaatgaaatgatgaaatgaaacaat...
844388,chrUn_KI270749v1,66043,77M4D73M,CTCAAAAATATATAGTAAAATAATTCATTAGTAATCTAGAGTTCCC...,150,cacagggtcccacagtaggctgtctacaagctgaggagcaaggaaa...,CTCAAAAATATATAGTAAAATAATTCATTAGTAATCTAGAGTTCCC...,cacagggtcccacagtaggctgtctacaagctgaggagcaaggaaa...
844389,chrUn_KI270749v1,66057,63M4D88M,GTAAAATAATTCATTAGTAATCTAGAGTTCCCTATTTTAGAAAATA...,151,acagggtcccacagtaggctgtctacaagctgaggagcaaggaaac...,GTAAAATAATTCATTAGTAATCTAGAGTTCCCTATTTTAGAAAATA...,acagggtcccacagtaggctgtctacaagctgaggagcaaggaaac...

In [105]:
data.loc[844374,'new_seqs']

'CGAGATGAAAAGATGAAATGATGAAATGAAATGAGATGAAAAGATGAAATGAGATGATGAGATGAAATCATGAGATGAAATGATGAGATGAAG--------TGAAATGACGAAATGCAACAATGAGAAGAAATGCTGAAATGAAATAATG'

In [123]:
data[data[2].str.contains('I')]

,0,1,2,3,bp,ref,new_seqs,new_ref
61,chr1,2137645,123M1I13M12S,TACCCACCCAGTGACATGGGCCAGGGCTACGGGCAGCACAGGGTGT...,149,TACCCACCCAGTGACATGGGCCAGGGCTCCGGGCAGCACAGGGTGT...,TACCCACCCAGTGACATGGGCCAGGGCTACGGGCAGCACAGGGTGT...,TACCCACCCAGTGACATGGGCCAGGGCTCCGGGCAGCACAGGGTGT...
204,chr1,2443505,91M12I30M,GCGGAGGGGGAGGTGTGGGGAGCGGAAGGCCGCAGGAGCATCTTTG...,133,gcggagggggaggtgtggggagcggaaggcCGCAGGAGCATCTTTG...,GCGGAGGGGGAGGTGTGGGGAGCGGAAGGCCGCAGGAGCATCTTTG...,gcggagggggaggtgtggggagcggaaggcCGCAGGAGCATCTTTG...
205,chr1,2443505,91M12I30M,GCGGAGGGGGAGGTGTGGGGAGCGGAAGGCCGCAGGAGCATCTTTG...,133,gcggagggggaggtgtggggagcggaaggcCGCAGGAGCATCTTTG...,GCGGAGGGGGAGGTGTGGGGAGCGGAAGGCCGCAGGAGCATCTTTG...,gcggagggggaggtgtggggagcggaaggcCGCAGGAGCATCTTTG...
321,chr1,2978623,59S14M1I77M,GGGGCGGGCCGGGCGGGGGGCCTCCCCCCCCCCCCGCCGCCCCCCC...,151,CGGGGGCTGGGGGGCAAGGACACGGGGCCCTCCCCAGGCTCGCTGG...,GGGGCGGGCCGGGCGGGGGGCCTCCCCCCCCCCCCGCCGCCCCCCC...,CGGGGGCTGGGGGGCAAGGACACGGGGCCCTCCCCAGGCTCGCTGG...
333,chr1,3037133,49M1I19M81S,GCCTCACAGGAGGCTATTGAGTGGGGAGGTAGGAGCCCCGACTCCG...,150,GCCTCACAGGAGGCTATTGAGTGGGGAGGTAGGAGCCCCGACTCCG...,GCCTCACAGGAGGCTATTGAGTGGGGAGGTAGGAGCCCCGACTCCG...,GCCTCACAGGAGGCTATTGAGTGGGGAGGTAGGAGCCCCGACTCCG...
...,...,...,...,...,...,...,...,...
844166,chrUn_KI270467v1,3300,6M1I140M,GGGGTACTTTTATATTTTATGTACAGTATACAATATGTATTTTGGC...,147,>chrUn_KI270467v1:3357-3508,GGGGTACTTTTATATTTTATGTACAGTATACAATATGTATTTTGGC...,>chrUn-_KI270467v1:3357-3508
844223,chrUn_KI270538v1,53236,30M1I111M,CACTTGCGGATACTACAAGAAGACTGTTTCAAAACCGCTCTCTCAA...,142,cacttgcggatactacaagaagactgtttcaaaccgctctctcaaa...,CACTTGCGGATACTACAAGAAGACTGTTTCAAAACCGCTCTCTCAA...,cacttgcggatactacaagaagactgtttc-aaaccgctctctcaa...
844224,chrUn_KI270538v1,53236,30M1I111M,CACTTGCGGATACTACAAGAAGACTGTTTCAAAACCGCTCTCTCAA...,142,tttcactcctgctctgtcaaaagacagtttcaactctgttagttga...,CACTTGCGGATACTACAAGAAGACTGTTTCAAAACCGCTCTCTCAA...,tttcactcctgctctgtcaaaagacagttt-caactctgttagttg...
844381,chrUn_KI270749v1,62369,126M5I20M,AGGTAAAGAAAGAAAGAAGGAAAGAAGGAAGGAAGGAAAAAAAAGA...,151,TTTTTCACTTGAAAGGAAAGAGTATCTGCCATTGAAgattggatgt...,AGGTAAAGAAAGAAAGAAGGAAAGAAGGAAGGAAGGAAAAAAAAGA...,TTTTTCACTTGAAAGGAAAGAGTATCTGCCATTGAAgattggatgt...
844426,chrUn_KI270751v1,134516,70M1I80M,CATGTCACATGTATACATAGGTAATGAACCTGCACTTTGTGAACAT...,151,gtttctgatgtccagcacccaccctgaagctatacgggtctccagc...,CATGTCACATGTATACATAGGTAATGAACCTGCACTTTGTGAACAT...,gtttctgatgtccagcacccaccctgaagctatacgggtctccagc...

In [124]:
data.loc[204,'new_ref']

'gcggagggggaggtgtggggagcggaaggcCGCAGGAGCATCTTTGCGGAGAAAGTACTTTGGCTGCGGCGGGCGCAGGGCGGGCCGGCTA------------GCCCCGCGCCCCACCTGTTCTGTGCGTCGCGCTCGCCCGGTT'

In [125]:
import pickle

In [126]:

ref_seqs = list(zip(data['new_ref'],data['new_seqs']))
with open('patient_ctDNA_dashes.pickle', 'wb') as write_file:
    pickle.dump(ref_seqs, write_file)